<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= client.user.username %> | Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <% if (customHtml) { %>
    <link href="../../../../<%= theme %>" rel="stylesheet">
    <% } else { %>
    <link href="<%= theme %>" rel="stylesheet">
    <% } %>
</head>

<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 navHeader">
        <h5 class="my-0 mr-md-auto headerBrand"><%= client.user.username %></h5>
        <nav class="my-2 my-md-0 mr-md-3 headerBrandNavButtons">
            <% for (i = 0; i < config.navItems.length; i++) { %>
            <a class="p-2" href="<%= config.navItems[i].link %>"><%= config.navItems[i].name %></a>
            <% } %>
        </nav>
    </div>
    <section class="jumbotron text-center lightBackground">
        <div class="container">
            <img style="border-radius: 50%; width: 100px; height: 100px;"
                src="<%= client.user.avatarURL || 'https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png' %>"
                alt="">
            <h1 class="jumbotron-heading" style="color: #7289DA;"><%= server.name %></h1>
        </div>
    </section>
    <div style="height: 150px; overflow: hidden; margin-top: -100px;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none;fill: #23272A;"></path>
        </svg>
    </div>
    <section class="darkBackground" style="margin: auto;">
        <div class="row" style="margin-top: 0; max-width: 95%; margin-left: auto; margin-right: auto;">
            <div class="col-2">
                <div class="list-group" id="list-tab" role="tablist">
                    <% 
                    let addedSections = []
                    sections.forEach(data => {
                        if (!addedSections.includes(data)) {
                            addedSections.push(data);
                            %>
                                <a class="list-group-item list-group-item-action <%  if (addedSections.length == 1) {  %> active <% } %>" id="list-<%= data %>"
                                    data-toggle="list" href="#<%= data %>" role="tab" aria-controls="<%= data %>"
                                    style="background-color: #2C2F33; color: white;"><%= data %>
                                </a>
                            <%
                        }
                    })
                     %>
                </div>
            </div>

            <div class="col-10">
                <div class="tab-content" id="nav-tabContent">
                    <% 
                    let addedSectionsContent = []
                    sections.forEach(data => {
                        if (!addedSectionsContent.includes(data)) {
                            addedSectionsContent.push(data);
                            %>
                            <div class="tab-pane fade show <%  if (addedSectionsContent.length == 1) {  %> active <% } %>" id="<%= data %>" role="tabpanel" aria-labelledby="list-<%= data %>">
                                <table class="table table-striped table-dark">
                                    <thead style="background-color: #2C2F33;">
                                        <tr style="background-color: #23272A;">
                                            <th>Action</th>
                                            <th>Description</th>
                                            <th>Version</th>
                                            <th>Author</th>
                                            <th></th>
                                        </tr>
                                        <% 
                                        let sectionMods = [];
                                        dashboardMods.forEach(mod => {
                                            if (data == mod.section) {
                                                sectionMods.push(mod)
                                            }
                                        });
                                        
                                        for (i = 0; i < sectionMods.length; i++) { %>
                                        <tr>
                                            <td><%= sectionMods[i].name %></td>
                                            <td><%= sectionMods[i].short_description %></td>
                                            <td><%= sectionMods[i].version %></td>
                                            <td><%= sectionMods[i].author %></td>
                                            <form action="/dashboard/@me/servers/<%= server.id %>/execute/<%= sectionMods[i].name %>" method="POST" onsubmit="">
                                                <td><button type="submit" class="btn btn-danger">Execute</button></td>
                                            </form>
                                        </tr>
                                        <% } %>
                                    </thead>
                                </table>
                            </div>
                            <%
                        }
                    })
                     %>
                </div>
            </div>
        </div>
        <div style="height: 150px; overflow: hidden;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none;fill: #2C2F33;"></path>
            </svg>
        </div>
    </section>
    <section style="margin-top: -60px;">
        <footer class="page-footer font-small">
            <div class="container text-center text-md-left mt-5">
                <div class="row mt-3">
                    <h6 class="text-uppercase font-weight-bold featuresHeaderFooter"><%= client.user.username %></h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100%;">
                    <p style="color: white; max-width: 900px;"><%= config.footerText %></p>
                </div>
            </div>
        </footer>
    </section>

    <% if (customHtml) { %>
    <div class="modal show" id="customHTMLModal" tabindex="-1" role="dialog" aria-labelledby="customHTML">
        <div role="document" style="width: <%= action.size().width %>px; margin: auto; padding: 25px;">
            <div class="modal-content darkBackground">
                <div class="modal-header" style="border-bottom:1px solid #7289DA;">
                    <h3 class="modal-title" style="color: #7289DA" id="customHTML"><%= action.name %></h3>
                </div>
                <div class="modal-body" style="border-bottom: none;">
                    <form action="/dashboard/@me/servers/<%= server.id %>/execute/<%= action.name %>?next=true" method="POST">
                        <%- action.html(false) %>
                </div>
                <div class="modal-footer" style="border-top: none;">
                    <button type="submit" class="btn btn-primary"
                        style="background-color: red; border: none;">Execute</button>
                    </form>
                    <form action="/dashboard/@me/servers/<%= server.id %>/">
                        <button type="submit" class="btn btn-primary">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <% if (commandExecuted) { %>
    <div class="modal show" id="commandExecutedModal" tabindex="-1" role="dialog" aria-labelledby="commandExecuted">
        <div class="modal-dialog" role="document">
            <div class="modal-content darkBackground">
                <div class="modal-header" style="border-bottom:1px solid #7289DA;">
                    <h3 class="modal-title" style="color: #7289DA" id="commandExecuted">Command Executed</h3>
                </div>
                <div class="modal-body" style="border-bottom: none;">
                    <%= log %>
                </div>
                <div class="modal-footer" style="border-top: none;">
                    <form action="/dashboard/@me/servers/<%= server.id %>/">
                        <button type="submit" class="btn btn-primary">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <% if (commandExecuted) { %>
    <script>
        $('#commandExecutedModal').modal('show')
    </script>
    <% } %>

    <% if (customHtml) { %>
    <script>
        $('#customHTMLModal').modal('show')
    </script>
    <% } %>
</body>

</html>